@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Caladea", serif;
    font-weight: 700;
    font-style: normal;
}

body {
    color: #ffffff;
    width: 100%;
    margin: 0 auto;
    background-color: #2d043a;
}

/* ####################################################### */

.partem1
{
    width: 100%;
    height: 270px;
}

.titulo1 
{
    font-size: 40px;
    text-align: center;
    padding: 10px 0px;
    margin: 0;
}

.titulo1 .highlight 
{
    color: #BEA0FF; 
}

.partem1-1{
    width: 78%;
    margin-left: 10%;
}

.boton {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #524870;
    border: none;
    color: white;
    padding: 8px 0px 8px 15px;
    width: 245px;
    text-decoration: none;
    font-size: 14px;
    margin: 10px 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
}

.boton span {
    flex: 1;
    text-align: left;
    margin-left: 10px; 
}

.icons1{
    margin-right: auto;
}

.icons2{
    background-color: #7F56D9;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 15px;
    padding: 8px 10px;
    color: #ffd600;
}

/* ####################################################### */

.partem2
{
    width: 100%;
    height: 480px;
}

.partem2-izq
{
    width: 35%;
    height: 400px;
    margin-top: 20px;
    margin-left: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo2 
{
    text-align: center;
    font-size: 50px;
}

.titulo2 .highlight 
{
    color: #BEA0FF; 
}

.parrafo1
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    padding: 0px 30px;
    margin-top: -20px;
}

.boton2 {
    margin-top: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #7F56D9;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 0px;
    width: 165px;
}

.partem2-centro
{
    border-radius: 200px;
    background-color: grey;
    width: 23%;
    height: 450px;
    margin-top: -420px;
    margin-left: 45%;
}

.img{
    margin-top: 10px;
    margin-left: -60px;
    height: 400px;
}

.partem2-der
{
    width: 23%;
    height: 450px;
    margin-top: -440px;
    margin-left: 72%;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7F56D9;
    border-radius: 50%;
    padding: 8px 10px;
    width: 45px;
    height: 45px;
    margin-top: 35px;
    margin-left: 15px;
}

.circle i{
    font-size: 25px;
}

.txt
{
    margin-left: 13px;
    margin-top: 30px;
}

h2, h3 {
    margin: 0;
}

h2{
    font-weight: bold;
}

h3{
    font-size: 15px;
    font-weight: normal;
}

.part1, .part2, .part3, .part4
{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.part
{
    padding: 10px;
}

/* ####################################################### */

.partem3
{
    width: 100%;
    height: 400px;
}

.titulo3
{
    display: flex;
    justify-content: center; 
    font-size: 35px;
    margin-bottom: 40px;
}

.partem3-izq
{
    background-color: #381D74;
    width: 48%;
    height: 250px;
    margin-left: 85px;
    border-radius: 20px;
}

.part5{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img2{
    height: 30px;
    margin-left: 30px;
    margin-top: 35px;
}

.txt2M
{
    margin-left: 13px;
    margin-top: 27px;
}

.txt2 h2{
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.txt2 h3{
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.img3{
    height: 60px;
    margin-top: -60px;
    margin-left: 83%;
}

.linea {
    border: none; 
    height: 0.2px; 
    background-color:#DADAF7; 
    margin: 15px;
    margin-top: -10px;
}

.parrafo2
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    padding: 0px 30px;
    margin-top: 30px;
}

.part6{
    margin-top: 25px;
    margin-left: 80%;
}

.icons4{
    padding: 0px 15px;
}

.partem3-der
{
    width: 28%;
    height: 250px;
    margin-top: -250px;
    margin-left: 60%;
    border-radius: 20px;
}

.img4{
    position: absolute;
    height: 120px;
    margin-top: -10px;
    margin-left: 20px;
}

.img5{
    position: absolute;
    height: 130px;
    margin-top: 60px;
    margin-left: 150px;
}

.img6{
    position: absolute;
    height: 90px;
    margin-top: 160px;
    margin-left: 55px;
}

.img7{
    position: absolute;
    height: 95px;
    margin-top: 150px;
    margin-left: 300px;
}

.img8{
    position: absolute;
    height: 80px;
    margin-top: 10px;
    margin-left: 300px;
}
