@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.barra{
    font-weight: 700;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #fff;
    margin: 0 auto;
    background-color: #2C1F4A;
    width: 100%;
    background-color: #2C1F4A;
    width: 100%;
}

.name{
    color: #D9ECFF;
    display:block;
    left: 0px; 
    top:0px; 
    font-family: "Caladea", serif;
    font-weight: 700;
    font-style: normal;
    margin: 30px;
}

.name, nav header{
    display:flexbox;
    margin-top: auto;
}

header {
    color: #fff;
    display:inline-flexbox;
    padding: 1rem;
  }
  
  header a {
    color: #fff;
    text-decoration:none;
  }

.name{
    color: #D9ECFF;
    display:block;
    left: 0px; 
    top:0px; 
    font-family: "Caladea", serif;
    font-weight: 700;
    font-style: normal;
    margin: 30px;
}

.name, nav header{
    display:flexbox;
    margin-top: auto;
}

header {
    color: #fff;
    display:inline-flexbox;
    padding: 1rem;
  }
  
  header a {
    color: #fff;
    text-decoration:none;
  }

  .barra .button {
	width: 10%;
	height: 45px;
	margin: 5px 30px;
    background:none;
    border-color: white;
    outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .0);
	cursor: pointer;
	font-size: 16px;
	color: #ffffff;
	font-weight: 600;
}
.barra .button2 {
	width: 10%;
	height: 45px;
	margin: 5px 10px;
	background: #7F56D9;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .0);
	cursor: pointer;
	font-size: 16px;
	color: #ffffff;
	font-weight: 600;
}

nav {
    overflow: hidden;
    width: 80%;
    margin-left: 250px;
    margin-top: -90px;
    width: 80%;
    margin-left: 250px;
    margin-top: -90px;
}

nav a {
    display:inline-block;
    display:inline-block;
    color: #f2f2f2;
    cursor: pointer;
    cursor: pointer;
    text-align: center;
    padding: 20px 24px;
    padding: 20px 24px;
    text-decoration: none;
    margin-left: 1rem;
}

nav .button, .button2 {
    float:right;
    display:flexbox;
    margin-left: 1rem;
}

nav .button, .button2 {
    float:right;
    display:flexbox;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.txt1{
    color: #BEA0FF;
    display:block;
    left: 0px; 
    top:0px; 
    font-family: "Caladea", serif;
    font-weight: 700;
    font-style: normal;
    margin: 30px;
    font-size: 40px;
    margin-left: 40px ;
}
.txt2{
    color: #ffffff;
    display:block;
    left: 0px; 
    top:0px; 
    font-family: "Caladea", serif;
    font-weight: 700;
    font-style: normal;
    margin: 30px;
    font-size: 40px;
    margin-top: -60px;
    margin-left: 40px ;
}
.text1 p{
    color: #B0B0D1;
    display:block;
    left: 0px; 
    top:0px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 30px;
    font-size: 20px;
    margin-top: -40px;
    margin-left: 40px ;
}

.imagen1{
    margin-top: -380px;
    margin-left: 900px;
    height: 400px;
}
.text1 p{
    color: #B0B0D1;
    display:block;
    left: 0px; 
    top:0px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 30px;
    font-size: 20px;
    margin-top: -40px;
    margin-left: 40px ;
}

.imagen1{
    margin-top: -380px;
    margin-left: 900px;
    height: 400px;
}

.buscador {
    display: flex;
    margin-top: -5px;
    margin-left: 40px;
  }
  
  .search-box {
    border: 2px solid #ccc;
    border-radius: 30px;
    height: 50px;
    padding: 0.5rem;
    font-size: 1rem;
    width: 50%;
    margin-top: -10px; 
    text-align: calc(1rem); 
  }
  
  .search-button {
    width: 10%;
	height: 45px;
    border: none;
    background-color: #7F56D9;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: -150px;
    margin-top: 2.5px;

  }
  
  .search-button:hover {
    background-color: #7F56D9;
  }
.buscador {
    display: flex;
    margin-top: -5px;
    margin-left: 40px;
  }
  
  .search-box {
    border: 2px solid #ccc;
    border-radius: 30px;
    height: 50px;
    padding: 0.5rem;
    font-size: 1rem;
    width: 50%;
    margin-top: -10px; 
    text-align: calc(1rem); 
  }
  
  .search-button {
    width: 10%;
	height: 45px;
    border: none;
    background-color: #7F56D9;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: -150px;
    margin-top: 2.5px;

  }
  
  .search-button:hover {
    background-color: #7F56D9;
  }

  footer {
    background-color: #321a69;
    color: #fff;
    padding: 10px;
}
.inspo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #D9ECFF;
    font-weight: 400;
    font-style: normal;
}
.pie{
    color: #D9ECFF;
    display:block;
    left: 0px; 
    top:0px; 
    font-family: "Caladea", serif;
    font-weight: 700;
    font-style: normal;
    margin: 30px;
}
.txt3{
    color: #B0B0D1;
    display:block;
    left: 0px; 
    top:0px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 30px;
    font-size: 15px;
    margin-top: -20px;
    margin-left: 20px ;
}
.info h2{
    color: #D9ECFF;
    display:block;
    left: 0px; 
    top:0px; 
    font-family: "Caladea", serif;
    font-weight: 700;
    font-style: normal;
    margin: 30px;
    margin-top: -125px;
    margin-left: 430px;
}
.part1D{
    color: #ffffff;
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 40px;
    font-size: 15px;
    margin-top: -10px;
    margin-left: 430px;
}
.part2D{
    color: #ffffff;
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 40px;
    font-size: 15px;
    margin-top: -90px;
    margin-left: 550px;
}
.cont h2{
    color: #D9ECFF;
    display:block;
    left: 0px; 
    top:0px; 
    font-family: "Caladea", serif;
    font-weight: 700;
    font-style: normal;
    margin: 30px;
    margin-top: -140px;
    margin-left: 720px;
}
.cont p{
    color: #B0B0D1;
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 40px;
    font-size: 15px;
    margin-top: -20px;
    margin-left: 715px;
}
.ubi h2{
    color: #D9ECFF;
    display:block;
    left: 0px; 
    top:0px; 
    font-family: "Caladea", serif;
    font-weight: 700;
    font-style: normal;
    margin: 30px;
    margin-top: -133px;
    margin-left: 1000px;
}
.ubi p{
    color: #B0B0D1;
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 40px;
    font-size: 15px;
    margin-top: -19px;
    margin-left: 950px;
}
.copy{
   font-family: Arial, Helvetica, sans-serif;
   color: #B0B0D1;
    display:block;
    margin: 40px;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

/* ####################################################### */

.partem1
{
    width: 100%;
    height: 270px;
}

.titulo1 
{
    font-size: 40px;
    text-align: center;
    padding: 10px 0px;
    margin: 0;
}

.titulo1 .highlight 
{
    color: #BEA0FF; 
}

.partem1-1{
    width: 78%;
    margin-left: 10%;
}

.boton {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #524870;
    border: none;
    color: white;
    padding: 8px 0px 8px 15px;
    width: 245px;
    text-decoration: none;
    font-size: 14px;
    margin: 10px 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
}

.boton span {
    flex: 1;
    text-align: left;
    margin-left: 10px; 
}

.icons1{
    margin-right: auto;
}

.icons2{
    background-color: #7F56D9;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 15px;
    padding: 8px 10px;
    color: #ffd600;
}

/* ####################################################### */

.partem2
{
    width: 100%;
    height: 480px;
}

.partem2-izq
{
    width: 35%;
    height: 400px;
    margin-top: 20px;
    margin-left: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo2 
{
    text-align: center;
    font-size: 50px;
}

.titulo2 .highlight 
{
    color: #BEA0FF; 
}

.parrafo1
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    padding: 0px 30px;
    margin-top: -20px;
}

.boton2 {
    margin-top: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #7F56D9;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 0px;
    width: 165px;
}

.partem2-centro
{
    border-radius: 200px;
    background-color: grey;
    width: 23%;
    height: 450px;
    margin-top: -420px;
    margin-left: 45%;
}

.img{
    margin-top: 10px;
    margin-left: -60px;
    height: 400px;
}

.partem2-der
{
    width: 23%;
    height: 450px;
    margin-top: -440px;
    margin-left: 72%;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7F56D9;
    border-radius: 50%;
    padding: 8px 10px;
    width: 45px;
    height: 45px;
    margin-top: 35px;
    margin-left: 15px;
}

.circle i{
    font-size: 25px;
}

.txt
{
    margin-left: 13px;
    margin-top: 30px;
}

h2, h3 {
    margin: 0;
}

h2{
    font-weight: bold;
}

h3{
    font-size: 15px;
    font-weight: normal;
}

.part1, .part2, .part3, .part4
{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.part
{
    padding: 10px;
}

/* ####################################################### */

.partem3
{
    width: 100%;
    height: 400px;
}

.titulo3
{
    display: flex;
    justify-content: center; 
    font-size: 35px;
    margin-bottom: 40px;
}

.partem3-izq
{
    background-color: #381D74;
    width: 48%;
    height: 250px;
    margin-left: 85px;
    border-radius: 20px;
}

.part5{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img2{
    height: 30px;
    margin-left: 30px;
    margin-top: 35px;
}

.txt2M
{
    margin-left: 13px;
    margin-top: 27px;
}

.txt2M h2{
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.txt2M h3{
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.img3{
    height: 60px;
    margin-top: -60px;
    margin-left: 83%;
}

.linea {
    border: none; 
    height: 0.2px; 
    background-color:#DADAF7; 
    margin: 15px;
    margin-top: -10px;
}

.parrafo2
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    padding: 0px 30px;
    margin-top: 30px;
}

.part6{
    margin-top: 25px;
    margin-left: 80%;
}

.icons4{
    padding: 0px 15px;
}

.partem3-der
{
    width: 28%;
    height: 250px;
    margin-top: -250px;
    margin-left: 60%;
    border-radius: 20px;
}

.img4{
    position: absolute;
    height: 120px;
    margin-top: -10px;
    margin-left: 20px;
}

.img5{
    position: absolute;
    height: 130px;
    margin-top: 60px;
    margin-left: 150px;
}

.img6{
    position: absolute;
    height: 90px;
    margin-top: 160px;
    margin-left: 55px;
}

.img7{
    position: absolute;
    height: 95px;
    margin-top: 150px;
    margin-left: 300px;
}

.img8{
    position: absolute;
    height: 80px;
    margin-top: 10px;
    margin-left: 300px;
}

.vid{
    width: 100%;
    height: 30%;
    margin: 0%;
}
.video{
    width: 100%;
    height: relative;
    margin: 0%;
}
.vivo{

    font-family: "Caladea", serif;
	color: #ffffff;
	font-size: 20px;
	margin-top: 90px;
    margin-left: 1000px;
}
.vivo2{
    font-family: "Caladea", serif;
	color: #7F56D9;
	font-size: 20px;
	margin-top: 5px;
    margin-left: 110px;
}
.imgS1{
    margin-top: -390px;
    margin-left: 900px;
}
.imgS2{
    width: 600px;
    margin-left: 95px;
}
.textoS h4{
    font-size: 1.0em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: -130px;
    margin-left: -730px;
    font-weight: 400;
}

.btn1S{
    border-radius: 40px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .0);
	cursor: pointer;
	font-size: 16px;
	color: #ffffff;
	font-weight: 400;
    background: #7F56D9;
    width: 10%;
	height: 40px;
	margin-top: 10px;
    margin-left: -5px;
}