@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Caladea", serif;
    font-weight: 700;
    font-style: normal;
}

body {
    color: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #2d043a;
}

header, nav, main, footer {
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    margin-top: 0;
}

nav {
    background-color: #4815a7;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main section {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
}

main section h2 {
    font-size: 1.5em;
    margin-top: 0;
}

main section h3 {
    font-size: 1.2em;
    margin-top: 20px;
}

main section h3 span {
    float: right;
}

main section p {
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}


header, nav, main, footer {
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    margin-top: 0;
}

nav {
    background-color: #4CAF50;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main section {
    background-color: red;
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
}

main section h2 {
    font-size: 1.5em;
    margin-top: 0;
}

main section h3 {
    font-size: 1.2em;
    margin-top: 20px;
}

main section h3 span {
    float: right;
}

main section p {
    margin-top: 10px;
}

.cta-button {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}
header, nav, main, footer {
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    margin-top: 0;
}

nav {
    background-color: #7245c4;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main section {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
}

header, nav, main, footer {
    padding: 20px;
}

header h1 {
    font-size: 2
}


/* ####################################################### */

.partem1
{
    background-color: green;
    width: 100%;
    height: 270px;
}

.titulo1 
{
    text-align: center;
    padding: 10px 0px;
}

.titulo1 .highlight {
    color: #BEA0FF; /* Cambia este color al que prefieras */
  }

.boton {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #524870;
    border: none;
    color: white;
    padding: 8px 0px 8px 15px;
    width: 245px;
    text-decoration: none;
    font-size: 14px;
    margin: 10px 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
}

.boton span {
    flex: 1;
    text-align: left;
    margin-left: 10px; 
}

.icons1{
    margin-right: auto;
}

.icons2{
    background-color: #7F56D9;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 15px;
    padding: 8px 10px;
    color: #ffd600;
}

.partem2
{
    background-color:red;
    width: 100%;
    height: 600px;
}




.partem3
{
    background-color:yellow;
    width: 100%;
    height: 350px;
}








  
 
  
  
 
